* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Black";
  src: url('./assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: -10;

}

#container > img {
  width: 100%;
}

span {
  font-family: Poppins-Regular;
  font-weight: 300;
  color: var(--light-grey);
}

strong, p {
  font-family: Poppins-Regular;
  font-weight: 400;
  color: var(--text-color);
}

h2 {
  font-family: Poppins-Medium;
  font-weight: 400;
  font-size: 36px;
  color: var(--purple);
  letter-spacing: 0.1cm;
}

h1 {
  font-family: Poppins-Medium;
  font-weight: 900;
  font-size: 72px;
  color: var(--black);
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--purple);
  transition: 0.7s;
}

button:hover {
  background-color: #3029c2;
}


